.cabecalho {
  padding: 1.1em 0;
  background-color: var(--preto);
  width: 100%;
  display: flex;
  justify-content: center;
}

.cabecalho section {
  margin: 0 20em;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}